<div class="auth-page container-fluid">
    <div class="row min-vh-100">

        <div class="col-lg-1 d-none d-lg-block"></div>

        <!-- LEFT verifycode -->
        <div class="col-lg-5 auth-left">
            <form [formGroup]="setpasswordForm" (ngSubmit)="submit()">

                <img src="../../../assets/logo-for-login.jpg" alt="Logo" class="auth-logo" />

                <h1>Set a Password</h1>
                <p>Your previous password has been reseted. Please set a new password for your account.</p>

                <div class="float-field">
                    <input [type]="showPassword ? 'text' : 'password'" placeholder=" "
                        formControlName="password" /><label>Create Password</label>

                    <span (click)="showPassword = !showPassword"><i class="bi"
                            [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i></span>
                </div>

                <div class="float-field">
                    <input [type]="showConfirm ? 'text' : 'password'" placeholder=" "
                        formControlName="confirmPassword" /><label>Re-enter Password</label>
                    <span (click)="showConfirm = !showConfirm"><i class="bi"
                            [ngClass]="showConfirm ? 'bi-eye-slash' : 'bi-eye'"></i></span>
                </div>

                <button type="submit" [disabled]="loading">{{ loading ? 'Setting Password...' : 'Set Password' }}</button>

                <p *ngIf="errorMsg" class="text-danger text-center mt-2">{{ errorMsg }}</p>
                <p *ngIf="successMsg" class="text-success text-center mt-2">{{ successMsg }}</p>

            </form>
        </div>

        <!-- RIGHT IMAGE -->
        <div class="col-lg-5 auth-right">
            <app-auth-carousel [images]="carouselImages" [interval]="3000"></app-auth-carousel>
        </div>

        <div class="col-lg-1 d-none d-lg-block"></div>

    </div>
</div>