<div class="auth-page container-fluid">
    <div class="row min-vh-100">

        <div class="col-lg-1 d-none d-lg-block"></div>

        <!-- LEFT forgotpassword -->
        <div class="col-lg-5 auth-left">
            <form [formGroup]="forgotpasswordForm" (ngSubmit)="submit()">

                <img src="../../../assets/logo-for-login.jpg" alt="Logo" class="auth-logo" />

                <a routerLink="/login" class="back-link">
                    <i class="bi bi-arrow-left"></i>Back to login
                </a>

                <h1>Forgot your password?</h1>
                <p>Don't worry, happens to all of us. Enter your email below to recover your password</p>

                <div class="float-field">
                    <input type="email" placeholder=" " formControlName="email" /><label>Email</label>
                </div>

                <button type="submit" [disabled]="loading">{{ loading ? 'Sending...' : 'Send Recovery Code' }}</button>

                <p *ngIf="errorMsg" class="text-danger text-center mt-2">{{ errorMsg }}</p>
                <p *ngIf="successMsg" class="text-success text-center mt-2">{{ successMsg }}</p>

                <div class="divider">
                    <span>Or Login with</span>
                </div>

                <div class="social-login container-fluid px-0">
                    <div class="row gx-3">
                        <div class="col-4">
                            <button type="button" class="social-btn facebook">
                                <i class="bi bi-facebook"></i>
                            </button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="social-btn google">
                                <i class="bi bi-google"></i>
                            </button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="social-btn apple">
                                <i class="bi bi-apple"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- RIGHT IMAGE -->
        <div class="col-lg-5 auth-right">
            <app-auth-carousel [images]="carouselImages" [interval]="3000"></app-auth-carousel>
        </div>

        <div class="col-lg-1 d-none d-lg-block"></div>

    </div>
</div>